server:
  port: 9000
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/card_management_db
    username: root
    password: 'root'
  jpa:
    show-sql: true
  sql:
    init:
      mode: always