spring:
  application:
    name: "gatewayserver"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lowerCaseServiceId: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 2s

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

info:
  app:
    name: "gatewayserver"
    description: "Hyperactive Challenge Gateway Server Application"
    version: "1.0.0"

logging:
  level:
    com:
      hyperativa:
        gatewayserver: DEBUG

##  security:
##    oauth2:
##      resourceserver:
##        jwt:
##          jwk-set-uri: "http://127.0.0.1:7080/realms/master/protocol/openid-connect/certs"
